@font-face {
  font-family: Akzidenz;
  src: url(img/AkzidenzGrotesk-BoldExtended.otf);
}
@font-face {
  font-family: Akkurat;
  src: url(img/AkkuratMonoStd.otf);
}


.texte {
	position: fixed;
	top: 20px;
	left:130px;
	width : 320px;
	height: 75px;
	background-color: black;
	border: solid white 1px;
}

.lignes {
	position: fixed;
	top:31px;
	left:150px;
	width: 50px;
}

.ligneclone{
	border-top:2px dotted white;
}

.lignelea{
	border-top:1px solid white;
	margin-top: 2px;
}

.ligneolivier{
	border-top:4px double white;
	margin-top: 2px;
}

.noms {
	position: fixed;
	top:35px;
	left:210px;
	font: 9px "Akzidenz";
	color: white;
	text-transform: uppercase;
	line-height: 1.3em;
	letter-spacing: 0.05em;

}

.themes {
	position: fixed;
	top:35px;
	left:270px;
	font: 9px "Akzidenz";
	color: white;
	text-transform: uppercase;
	line-height: 1.3em;
	letter-spacing: 0.05em;
}

.container {
	display:flex;

}

img {
	height: 97vh;
	width:auto;
}
